.clearfix, nav.languages ul, nav.main ul, .links, .meta, .logos, .icons, .panel .columns, .icons-blue, .panel-counter, .services .options dl, .tabs header, .tabs .tab, section.boxes, section.boxes section, section.boxes .month li, .gallery-panel, .gallery-holder, .gallery .from-editor article, .pricelist-panel, .legend ul, .order-content section.term, .order-content section.persons, .contacts-content, .villapark-content, .villapark-content .boxes, .villapark-content .line { *zoom: 1; }
.clearfix:after, nav.languages ul:after, nav.main ul:after, .links:after, .meta:after, .logos:after, .icons:after, .panel .columns:after, .icons-blue:after, .panel-counter:after, .services .options dl:after, .tabs header:after, .tabs .tab:after, section.boxes:after, section.boxes section:after, section.boxes .month li:after, .gallery-panel:after, .gallery-holder:after, .gallery .from-editor article:after, .pricelist-panel:after, .legend ul:after, .order-content section.term:after, .order-content section.persons:after, .contacts-content:after, .villapark-content:after, .villapark-content .boxes:after, .villapark-content .line:after { content: ""; clear: both; display: table; height: 0; visibility: hidden; }

ul, div.minict_wrapper > ul, .legend ul { margin: 0; padding: 0; list-style-type: none; }

/*------- OTHERS ------- */
@font-face { font-family: "neutra"; src: url("../fonts/ndt.eot"); src: url("../fonts/ndt.eot?#iefix") format("embedded-opentype"), url("../fonts/ndt.woff") format("woff"), url("../fonts/ndt.ttf") format("truetype"); font-weight: normal; font-style: normal; }

h1, h2, h3, h4, h5 { font-weight: normal; margin-top: 0; }

section.main h1, section.main h2, section.main h3, section.main h4, section.main h5 { margin-bottom: 20px; }
section.main h1 { font-size: 35px; font-size: 3.5rem; line-height: 1.3em; }
section.main h2 { font-size: 30px; font-size: 3rem; line-height: 1.3em; }
section.main h3 { font-size: 25px; font-size: 2.5rem; line-height: 1.3em; }
section.main h4 { font-size: 20px; font-size: 2rem; line-height: 1.3em; }
section.main .from-editor ul { list-style-type: disc; margin: 0 0 20px 20px; }
section.main .from-editor li { margin: 0 0 15px; line-height: 1.4em; }
section.main .from-editor p { line-height: 1.4em; }

p { margin-top: 0; }

a { text-decoration: none; }

.main-slider { position: absolute; top: 0; left: 0; z-index: 7; padding-top: 640px; width: 100%; overflow: hidden; }

.reviews-slider-wrapper { position: relative; }

.reviews-slider { position: relative; width: 902px; overflow: hidden; padding-top: 217px; margin: 0 auto; }

.main-slider .inner, .reviews-slider .inner { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.main-slider-controls { display: block; position: absolute; width: 64px; height: 64px; background: url(../images/sprite-buttons.png) no-repeat; top: 230px; z-index: 10; }

.reviews-slider-wrapper .main-slider-controls { top: 75px; margin-top: 0; }

.main-slider-controls.slider-prev { left: 50%; margin-left: -495px; background-position: -64px 0; }
.reviews-slider-wrapper .main-slider-controls.slider-prev { left: 10px; margin-left: 0; }
.main-slider-controls.slider-prev:hover { background-position: -64px -64px; }

.main-slider-controls.slider-next { right: 50%; margin-right: -495px; background-position: 0 0; }
.reviews-slider-wrapper .main-slider-controls.slider-next { right: 10px; margin-right: 0; }
.main-slider-controls.slider-next:hover { background-position: 0 -64px; }

.slide { float: left; height: 100%; min-width: 250px; position: relative; overflow: hidden; }
.reviews-slider .slide + .slide { margin-left: 16px; }
.slide a { display: block; height: 100%; }
.slide img { display: block; }
.slide img.visual { position: absolute; top: 0; left: 50%; margin-left: -960px; }
.reviews-slider .slide > img { width: 100%; }

.positioned-promo { position: absolute; height: auto !important; z-index: 9; }

.button-blue, .button-blue-pre, .promo a.more, .button-blue-post, section.boxes .more, .button-blue-right, .pricelist-panel .load-next, .button-blue-left, .pricelist-panel .load-prev, .pricelist-panel > a, .button-orange, .panel .reservation a, .panel-counter > div a, section.boxes .reservation a, .contact-info + .button, .textpage-content .title h1 a { display: inline-block; position: relative; }

.button-blue-pre:before, .promo a.more:before, .button-blue-post:after, .promo a.more:after, section.boxes .more:after { content: ""; display: block; width: 90px; height: 21px; position: absolute; top: 50%; margin-top: -10px; background: url(../images/sprite.png) no-repeat; }

.button-blue-pre, .promo a.more, .button-blue-post, .promo a.more, section.boxes .more, .button-blue-right, .pricelist-panel .load-next, .button-blue-left, .pricelist-panel .load-prev { background-image: url(../images/sprite-buttons.png); background-repeat: no-repeat; }

.button-blue-pre, .promo a.more, .button-blue-post, .promo a.more, section.boxes .more { background-position: 100% -191px; height: 25px; line-height: 25px; color: white; padding: 0 15px 0 10px; }
.button-blue-pre:hover, .promo a.more:hover, .button-blue-post:hover, .promo a.more:hover, section.boxes .more:hover { background-position: 100% -216px; }

.button-blue-right, .pricelist-panel .load-next, .button-blue-left, .pricelist-panel .load-prev { height: 35px; line-height: 35px; color: #97bee5; }
.button-blue-right:hover, .pricelist-panel .load-next:hover, .button-blue-left:hover, .pricelist-panel .load-prev:hover { background-position: 100% -216px; }

.button-blue-left, .pricelist-panel .load-prev { background-position: 0 -531px; padding: 0 42px 0 46px; border-right: 1px solid #accbea; }
.button-blue-left:hover, .pricelist-panel .load-prev:hover { background-position: 0 -566px; }

.button-blue-right, .pricelist-panel .load-next { background-position: 100% -531px; padding: 0 46px 0 42px; border-left: 1px solid #accbea; }
.button-blue-right:hover, .pricelist-panel .load-next:hover { background-position: 100% -566px; }

.button-blue-pre:before, .promo a.more:before { left: -105px; background-position: 0 -83px; }

.button-blue-post:after, .promo a.more:after, section.boxes .more:after { right: -105px; background-position: 0 -104px; }

.button-orange, .panel .reservation a, .panel-counter > div a, section.boxes .reservation a, .contact-info + .button, .textpage-content .title h1 a { background: url(../images/sprite-buttons.png) no-repeat; background-position: 100% -241px; }
.button-orange span, .panel .reservation a span, .panel-counter > div a span, section.boxes .reservation a span, .contact-info + .button span, .textpage-content .title h1 a span { font-size: 16px; font-size: 1.6rem; line-height: 1; color: white; background: url(../images/sprite-buttons.png) no-repeat; background-position: 0 -299px; display: block; height: 58px; line-height: 58px; padding: 0 35px 0 30px; }
.button-orange:hover, .panel .reservation a:hover, .panel-counter > div a:hover, section.boxes .reservation a:hover, .contact-info + .button:hover, .textpage-content .title h1 a:hover { background-position: 100% -357px; }
.button-orange:hover span, .panel .reservation a:hover span, .panel-counter > div a:hover span, section.boxes .reservation a:hover span, .contact-info + .button:hover span, .textpage-content .title h1 a:hover span { background-position: 0 -415px; }

div.minict_wrapper { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; color: #97bee5; background: url(../images/sprite-buttons.png) no-repeat 50% -531px; position: relative; width: 100%; height: 100%; border-width: 0 1px; border-style: solid; border-color: #accbea; line-height: 35px; height: 35px; }
div.minict_wrapper:after { font-size: 11px; font-size: 1.1rem; line-height: 20px; content: "\25BC"; display: block; position: absolute; height: 20px; width: 20px; background: transparent; text-align: center; top: 50%; right: 5px; margin-top: -10px; }
div.minict_wrapper.active:after { content: "\25B2"; background: transparent; }
div.minict_wrapper input { font-size: 15px; font-size: 1.5rem; line-height: 35px; border: 0; outline: none; background: none; color: #97bee5; width: 100%; height: 100%; cursor: default; display: block; padding: 0 12px; }
div.minict_wrapper input:-moz-placeholder { color: #97bee5; }
div.minict_wrapper input::-webkit-input-placeholder { color: #97bee5; }
div.minict_wrapper > ul { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; display: none; position: absolute; width: 100%; border: 1px solid #accbea; top: 35px; left: -1px; max-height: 180px; overflow-y: auto; z-index: 999999; }
div.minict_wrapper > ul li { list-style: none; padding: 0 12px; cursor: pointer; background: #eaf2fb; height: 32px; line-height: 32px; }
div.minict_wrapper > ul li:hover { background: #bfd7f3; }
div.minict_wrapper > ul li.minict_empty { display: none; }
div.minict_wrapper > ul li.hidden { display: none; }

#gallery-select + .minict_wrapper { color: white; background: #97bee5; border: 1px solid #6ea4db; line-height: 32px; height: 35px; }
#gallery-select + .minict_wrapper:after { content: ""; background: url(../images/sprite.png) no-repeat -31px -39px; }
#gallery-select + .minict_wrapper.active:after { background: url(../images/sprite.png) no-repeat -48px -39px; }
#gallery-select + .minict_wrapper input { font-size: 14px; font-size: 1.4rem; line-height: 36px; color: white; }
#gallery-select + .minict_wrapper input:-moz-placeholder { color: white; }
#gallery-select + .minict_wrapper input::-webkit-input-placeholder { color: white; }
#gallery-select + .minict_wrapper ul { border: 1px solid #6ea4db; border-width: 0 1px 1px; top: 36px; max-height: 300px; }
#gallery-select + .minict_wrapper ul li { background: #97bee5; height: 30px; line-height: 30px; }
#gallery-select + .minict_wrapper ul li:hover { background: #c0d8ef; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { margin: 0; padding: 0; position: relative; color: #97bee5; }

html { font-size: 10px; }

body { font-family: "helvetica", "sans-serif"; font-size: 12px; font-size: 1.2rem; line-height: 1; margin-top: 108px; position: relative; background: white url(../images/page-bg.jpg) no-repeat 50% 108px; min-width: 990px; }

.container { width: 100%; }
.container:before { content: ""; position: absolute; left: 0; top: 0; display: block; width: 100%; height: 1px; box-shadow: rgba(0, 0, 0, 0.25) 0 2px 3px; z-index: 6; }
.container > .inner { width: 990px; margin: 0 auto; position: relative; z-index: 7; padding-top: 39px; background: white; }

header.top { position: absolute; top: -100px; width: 100%; z-index: 7; left: 50%; margin-left: -495px; width: 990px; z-index: 8; }

#logo { width: 227px; height: 123px; background: url(../images/logo-bg.png) no-repeat 0 0; margin: 0 0 0 24px; position: relative; z-index: 2; }
#logo a, #logo img { display: block; margin: 0; border: 0; }

nav { text-transform: uppercase; }

nav.languages li, nav.main li { float: left; }

nav.languages { position: absolute; top: 0; right: 0; }
nav.languages li { padding: 1px 5px; }
nav.languages li + li { border-left: 1px solid; }
nav.languages .current { font-weight: bold; }
nav.languages a { color: #97bee5; }
nav.languages a:hover { text-decoration: underline; }
nav.languages:before { content: ""; display: block; width: 14px; height: 15px; background: url(../images/sprite.png) no-repeat 0 -39px; position: absolute; left: -15px; top: 50%; margin-top: -9px; }

nav.main { font-size: 16px; font-size: 1.6rem; line-height: 1; font-family: "neutra", "sans-serif"; margin-top: -23px; background: url(../images/sprite.png) repeat-x 0 0; height: 39px; -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px; -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px; box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px; }
nav.main li { position: relative; }
nav.main li + li { background: url(../images/nav-divider.png) no-repeat 0 0; }
nav.main li + li a { margin-left: 3px; }
nav.main a { padding: 15px 45px 0; color: white; position: relative; z-index: 3; display: block; height: 39px; margin-right: -1px; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
nav.main .active a, nav.main a:hover { background: url(../images/nav-active.png) no-repeat 50% 100%; }

ul.submenu { display: none; font-size: 13px; font-size: 1.3rem; line-height: 1; background: #005190; position: absolute; top: 39px; left: 2px; width: 100%; padding-top: 12px; }
ul.submenu li { display: block; float: none; background-image: none !important; }
ul.submenu li + li { border-top: 1px solid #0070ca; }
ul.submenu li:nth-child(odd) { background: #005ea6; }
ul.submenu a { color: white; padding: 8px 12px; height: auto; }
ul.submenu a:hover { background: transparent; color: #fc8739; }

a:hover + .submenu, ul.submenu:hover { display: block; }

.quick-contact { position: absolute; top: 58px; right: 0; }
.quick-contact address { font-style: normal; font-size: 12px; font-size: 1.2rem; line-height: 1; display: inline-block; padding-right: 12px; text-align: right; }
.quick-contact .phone { font-size: 25px; font-size: 2.5rem; line-height: 1; border-width: 0 2px; border-color: #97bee5; border-style: solid; padding: 0 12px; display: inline-block; line-height: 1.1em; position: relative; }
.quick-contact .phone:before { content: ""; display: block; width: 100px; height: 21px; position: absolute; bottom: 100%; left: -63px; background: url(../images/sprite.png) no-repeat 0 -62px; }
.quick-contact a { display: inline-block; width: 17px; height: 15px; background: url(../images/sprite.png) no-repeat -14px -39px; position: relative; top: -3px; margin: 0 10px; }

.links { font-size: 12px; font-size: 1.2rem; line-height: 1; margin: 0 18px; background: url(../images/links-bg.png) repeat-y 50% 0; }
.links .column { width: 20%; float: left; padding: 18px; }
.links h4 { font-size: 16px; font-size: 1.6rem; line-height: 1; color: #fa853e; margin-bottom: 10px; }
.links li { display: block; line-height: 1.6em; }
.links a, .links address { color: #052c55; }
.links a:hover { text-decoration: underline; }
.links address { line-height: 1.6em; }

footer.bottom, .links { border-width: 0 1px 1px; border-style: solid; border-color: #99bee4; }

footer.bottom { position: relative; margin-bottom: 25px; background: white; }
footer.bottom:after { content: ""; display: block; position: absolute; bottom: -7px; left: 0; width: 100%; height: 6px; background: url(../images/body-bottom.png) no-repeat 0 0; }

.meta { position: relative; }
.meta .copy { float: left; position: relative; padding-left: 20px; margin-left: 18px; }
.meta .copy:before { content: ""; display: inline-block; width: 23px; height: 24px; background: url(../images/sprite.png) no-repeat -177px -48px; position: absolute; top: 50%; left: 0; margin-top: -15px; }
.meta p, .meta ul { padding: 15px 0; }
.meta p { line-height: 24px; margin-bottom: 0; }
.meta ul { float: right; margin: 6px 18px 0 0; }
.meta li { float: left; }
.meta li + li { border-left: 1px solid #97bee5; padding-left: 8px; margin-left: 8px; }
.meta li a { color: #97bee5; }
.meta li a:hover { text-decoration: underline; }

.logos { text-align: center; margin-bottom: 35px; }
.logos ul { margin: 0 auto; }
.logos li, .logos a { display: inline-block; }
.logos li + li { margin-left: 50px; }

.ico-span, .ico-grid span, .icons span { display: block; width: 50px; height: 37px; float: left; background: url(../images/sprite.png) no-repeat; cursor: help; }

.ico-grid .ico-1 { background-position: 0 -125px !important; }
.ico-grid .ico-2 { background-position: 0 -162px !important; }
.ico-grid .ico-3 { background-position: 0 -199px !important; }
.ico-grid .ico-4 { background-position: 0 -236px !important; }
.ico-grid .ico-5 { background-position: 0 -273px !important; }
.ico-grid .ico-6 { background-position: 0 -310px !important; }
.ico-grid .ico-7 { background-position: 0 -347px !important; }
.ico-grid .ico-8 { background-position: 0 -384px !important; }
.ico-grid .ico-9 { background-position: 0 -421px !important; }

.icons { width: 718px; height: 39px; background: url(../images/sprite-ico-white.png) no-repeat 9px 0 !important; float: right; margin-right: 70px; }
.icons span { background: transparent; }
.icons span + span { margin-left: 34px; }

.panel { clear: both; background: #fa853e; padding: 10px 21px 20px 21px; color: #052c55; }
.panel .icons { margin-bottom: 10px; margin-right: 20px; }
.panel .icons span { margin-left: 6px; }
.panel .icons span + span { margin-left: 44px; }
.panel h2 { float: left; margin: 0 0 0 25px; color: white; line-height: 45px; }
.panel .columns { background: #fef5ea; clear: both; padding-right: 20px; position: relative; }
.panel .columns > div { width: 20%; position: relative; float: left; }
.panel .columns > div + div { background: url(../images/lines.png) repeat 0 0; }
.panel .columns > div + div:before { content: ""; position: absolute; left: 0; top: 15px; bottom: 15px; display: block; width: 1px; background: #fa853e; }
.panel .reservation { text-align: center; background: #fee5cb; }
.panel .reservation a { margin-top: 18px; margin-bottom: 12px; }
.panel .reservation p { line-height: 1.3em; }
.panel .reservation strong { display: block; }
.panel ul { overflow: hidden; margin-bottom: 7px; }
.panel h3 { font-size: 15px; font-size: 1.5rem; line-height: 1; line-height: 38px; height: 38px; color: #fa853e; background: white; margin-top: 10px; margin-bottom: 1px; }
.panel h3, .panel li { padding-left: 10px; padding-right: 10px; }
.panel li { font-size: 13px; font-size: 1.3rem; line-height: 24px; float: left; clear: left; width: 100%; }
.panel li a { display: block; padding: 0 5px; -webkit-border-radius: 3px 3px; -moz-border-radius: 3px / 3px; border-radius: 3px / 3px; }
.panel li a:hover { background: rgba(255, 100, 0, 0.2); }
.panel .date, .panel .price { color: #052c55; }
.panel .date { font-size: 12px; font-size: 1.2rem; line-height: 1; color: #052c55; }
.panel .price { float: right; color: #052c55; }
.panel .price-old { color: #fa853e; text-decoration: line-through; }
.panel .arrow-reservation { display: block; width: 25px; height: 58px; background: url(../images/sprite-buttons.png) no-repeat 0 -473px; position: absolute; top: 50%; margin-top: -28px; right: -14px; }
.panel .arrow-reservation:hover { background-position: -25px -473px; }

.icons-blue { background: #c0d8ef; text-align: center; padding: 12px 0; }
.icons-blue em { display: inline-block; width: 89px; height: 90px; background: url(../images/sprite.png) no-repeat -49px -137px; padding: 25px 18px 0; }
.icons-blue em + em { margin-left: 10px; }

section.main > .inner { background: white; border-color: #6ea4db; border-style: solid; border-width: 0 1px; }

.panel-counter { color: #97bee5; margin-top: -27px; padding-bottom: 15px; }
.panel-counter .blue-i { display: inline-block; width: 28px; height: 28px; background: url(../images/sprite.png) no-repeat -100px -62px; }
.panel-counter > strong { display: block; text-align: right; font-size: 20px; font-size: 2rem; line-height: 1; color: black; margin-bottom: 30px; }
.panel-counter > span { font-size: 20px; font-size: 2rem; line-height: 1; float: left; padding-top: 10px; }
.panel-counter > div { float: right; }
.panel-counter > div strong { font-size: 38px; font-size: 3.8rem; line-height: 1; color: black; padding: 0 10px; }
.panel-counter > div a { position: relative; top: -8px; }
.panel-counter > div .note { display: block; padding-left: 45px; position: relative; top: -10px; }
.panel-counter > div + div { margin: 5px 30px 0 0; }

.social-bar { position: fixed; top: 50%; left: 0; background: #efefef; border-radius: 0 5px 5px 0; z-index: 20; }
.social-bar ul { margin: 8px; }
.social-bar li { display: block; margin-bottom: 3px; }
.social-bar a { display: block; }
.social-bar img { display: block; margin: 0; border: 0; }

.social-footer { padding: 10px 0; position: absolute; left: 50%; bottom: 0; height: 47px; display: block; }
.social-footer > div { float: left; }
.social-footer > div + div { margin-left: 10px; }

.services .options { padding-top: 30px; }
.services .options h2 { font-size: 24px; font-size: 2.4rem; line-height: 24px; position: relative; color: #97bee5; }
.services .options h2 span { width: 330px; display: inline-block; }
.services .options h2 em { font-style: normal; font-size: 14px; font-size: 1.4rem; line-height: 24px; }
.services .options dl { margin: 0; padding-bottom: 25px; }
.services .options dt, .services .options dd { display: block; margin-bottom: 10px; line-height: 1.3em; float: left; }
.services .options dt { clear: both; width: 330px; }
.services .options dd { margin-left: 0; }

.tabs header { font-size: 18px; font-size: 1.8rem; line-height: 1; padding: 10px 50px 0; background: #e8f1fa url(../images/section-divider.png) no-repeat 50% 100%; }
.tabs header h2 { float: left; font-size: 18px; font-size: 1.8rem; line-height: 1; margin-bottom: 0; padding-top: 7px; }
.tabs nav { font-weight: bold; position: relative; float: right; z-index: 2; }
.tabs nav li { display: inline-block; }
.tabs nav a { display: block; padding: 0 10px; background: transparent; height: 35px; width: 40px; line-height: 35px; text-align: center; color: #97bee5; }
.tabs nav .active a, .tabs nav a:hover { background: white; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }
.tabs .tab { display: none; padding: 20px 50px; }
.tabs .tab.active { display: block; }

.video-container a { position: absolute; width: 100%; height: 100%; z-index: 3; left: 0; top: 0; padding: 18px; }
.video-container a span { display: block; position: relative; width: 102px; height: 91px; z-index: 4; background: url(../images/sprite.png) no-repeat -48px -237px; margin: 0 auto; }

#ytplayer-lightbox { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 10; }
.lt-ie9 #ytplayer-lightbox { background: url(../images/black-transparent.png); }
#ytplayer-lightbox #ytplayer-wrapper { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 640px; height: 480px; background: white; padding: 18px; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; }
#ytplayer-lightbox #ytplayer-close { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-border-radius: 50% 50%; -moz-border-radius: 50% / 50%; border-radius: 50% / 50%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; display: block; width: 24px; height: 24px; background: #97bee5; color: white; border: 3px solid #d4e4f4; font-size: 20px; font-weight: bold; line-height: 22px; text-align: center; position: absolute; top: -12px; right: -12px; }
#ytplayer-lightbox #ytplayer-close:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#ytplayer-lightbox iframe { width: 100%; height: 100%; }

body.homepage { background-image: none; }
body.homepage .container > .inner { padding-top: 395px; padding-top: 1px; background: transparent; }
body.homepage section.main { margin-top: 639px; }

.promo { background: white; border-width: 1px 1px 0; border-style: solid; border-color: #97bee5; min-height: 221px; text-align: center; color: #052c55; width: 990px; position: absolute; bottom: 0; z-index: 5; left: 50%; margin-left: -495px; }
.promo h1 { font-size: 42px; font-size: 4.2rem; line-height: 1; color: #97bee5; margin-bottom: 0.3em; }
.promo p { line-height: 1.6em; }
.promo div { padding: 20px 30px; float: left; width: 790px; }

div.promo-images { float: right; width: 190px; min-height: 220px; height: 100%; padding: 20px; position: relative; }
div.promo-images .inner { position: absolute; top: 20px; right: 20px; bottom: 20px; left: 20px; overflow: hidden; width: auto; padding: 0; }
div.promo-images li { height: 100%; text-align: center; float: left; }
div.promo-images img { display: block; margin: 0 auto; max-width: 100%; max-height: 100%; }

section.boxes { position: relative; border: 18px solid #99bee4; background: #99bee4; }
section.boxes section { background: transparent; width: 60%; }
section.boxes section .outer { position: relative; float: left; padding: 18px 18px; width: 187px; height: 177px; margin: 0 0 3px 3px; }
section.boxes section .outer:nth-child(4n), section.boxes section .outer:nth-child(5n), section.boxes section .outer:nth-child(6n) { margin-bottom: 0; padding-top: 15px; }
section.boxes section .outer:nth-child(6n) { background: white; }
section.boxes section .outer:nth-child(6n) h3 { margin-bottom: 0; }
section.boxes section .outer:nth-child(3n+1) { margin-left: 0; }
section.boxes img { position: absolute; top: 0; left: 0; z-index: 2; }
section.boxes h3 { font-size: 18px; font-size: 1.8rem; line-height: 1; position: relative; z-index: 3; }
section.boxes section + section { position: absolute; top: 0; right: 0; bottom: 0; width: 40%; border: 0; }
section.boxes section + section .outer { width: 50%; width: 188px; height: 100%; display: inline-block; padding: 10px; border: 13px solid #fa853e; background: #fdf3e5; }
section.boxes section + section .outer > div { position: relative; top: 0; left: 0; width: 100%; }
section.boxes section + section .outer h3 { color: #fa853e; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; }
section.boxes section + section .outer + .outer { padding: 23px 15px 13px; border: 0; background: white; }
section.boxes section + section .outer + .outer h3 { color: #97bee5; margin-bottom: 10px; margin-left: 0; margin-right: 0; }
section.boxes .month { padding: 8px 0; border-bottom: 1px solid #c0d8ef; box-shadow: 0 1px 0 #fdfeff; }
section.boxes .month h4 { font-size: 17px; font-size: 1.7rem; line-height: 1; color: #fa853e; }
section.boxes .month li { font-size: 12px; font-size: 1.2rem; line-height: 1; }
section.boxes .month li, section.boxes .month a { color: #052c55; display: block; }
section.boxes .month a:hover .date { text-decoration: underline; color: #084585; }
section.boxes .month h4, section.boxes .month li { margin: 0 5px; margin-bottom: 5px; }
section.boxes .month .date { float: left; }
section.boxes .month .price { float: right; }
section.boxes .month:last-of-type { border: 0; box-shadow: none; margin-bottom: 0px; }
section.boxes .reservation { text-align: center; }
section.boxes .slider .inner { height: 310px; height: 233px; overflow: hidden; margin-bottom: 10px; }
section.boxes .slider ul { position: relative; }
section.boxes .slider li { font-size: 12px; font-size: 1.2rem; line-height: 1; margin: 0 0 10px; position: relative; height: 150px; height: 107px; overflow: hidden; }
section.boxes .slider strong { font-size: 14px; font-size: 1.4rem; line-height: 1; font-weight: normal; }
section.boxes .slider span { display: inline-block; margin: 5px 0; }
section.boxes .slider .city { padding: 0 5px 0 0; }
section.boxes .slider .country { border-left: 1px solid; padding: 0 0 0 5px; }
section.boxes .slider p { font-style: italic; }
section.boxes .slider .rating-meta { padding-left: 70px; margin-bottom: 0px; min-height: 70px; }
section.boxes .slider .stars { background: url(../images/sprite.png) no-repeat -96px -90px; height: 16px; display: block; margin-left: -5px; }
section.boxes .slider img { max-width: 60px; }
section.boxes .slider .star-0 { width: 0px; }
section.boxes .slider .star-1 { width: 19px; }
section.boxes .slider .star-2 { width: 38px; }
section.boxes .slider .star-3 { width: 57px; }
section.boxes .slider .star-4 { width: 76px; }
section.boxes .slider .star-5 { width: 95px; }
section.boxes .more:after { right: -95px; }

.homepage .outer .ico-grid { width: 120%; margin: 0 0 0 -18px; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); transform: scale(0.8); }
.lt-ie10 .homepage .outer .ico-grid { padding-top: 15px; margin-left: 0; }
.homepage .outer .ico-grid span { margin: 0 0 10px 10px; }
.lt-ie10 .homepage .outer .ico-grid span { zoom: 0.8; }
.homepage .outer .ico-grid span:nth-of-type(3n+1) { clear: left; }
.homepage .outer .ico-grid:after { content: ""; display: block; clear: both; }

.gallery-panel { padding: 15px 25px 5px; line-height: 32px; background: #e8f1fa; }
.gallery-panel .info { float: left; width: 550px; }
.gallery-panel .info h3 { font-size: 26px; font-size: 2.6rem; line-height: 38px; float: left; width: 300px; margin-bottom: 0; }
.gallery-panel .info .select { float: right; width: 250px; }
.gallery-panel .help { width: 380px; text-align: center; margin-bottom: 0; float: right; line-height: 38px; }

.gallery-holder { padding: 25px; background: #97bee5 url(../images/gallery-bg.jpg) no-repeat 50% 0; }

.gallery-placeholder { float: left; width: 550px; height: 415px; background: white; padding: 10px; }

.gallery-thumbs-wrapper { float: right; width: 380px; position: relative; }
.gallery-thumbs-wrapper > a { position: absolute; right: 25px; top: 20px; color: white; }
.gallery-thumbs-wrapper > a + a { top: auto; bottom: 20px; }
.gallery-thumbs-wrapper > a:hover { color: #e6e6e6; }

.roundabout-holder { list-style: none; padding: 0; margin: 0 auto; height: 415px; width: 230px; }

.roundabout-moveable-item span { display: block; width: 100%; height: 100%; cursor: pointer; background-color: #cccccc; border: 10px solid white; }

.roundabout-moveable-item { border: 1px solid #999999; width: 230px; height: 175px; }

.roundabout-in-focus { cursor: auto; }

.gallery-thumbs img { display: block; max-width: 100%; max-height: 100%; margin: 0; }

.gallery .from-editor { margin: 0 50px; padding: 30px 0; min-height: 450px; }
.gallery .from-editor article .from-editor-main { width: 525px; float: left; }
.gallery .from-editor article .from-editor-column { float: right; padding-top: 65px; }
.gallery .from-editor article .from-editor-column img { display: block; max-width: 100%; margin: 0 auto 30px; }
.gallery .from-editor li { font-weight: bold; }

.pricelist-content { padding: 0 65px; color: #838383; }
.pricelist-content > strong { display: block; font-size: 20px; font-size: 2rem; line-height: 1.25em; color: #97bee5; }
.pricelist-content ul { margin-bottom: 30px; }
.pricelist-content ul li { line-height: 1.3; }

.pricelist-panel { padding: 15px 0; position: relative; }
.pricelist-panel > a { font-size: 15px; font-size: 1.5rem; line-height: 1; }
.pricelist-panel .load-prev { float: left; display: none; }
.pricelist-panel .load-next { float: right; }
.pricelist-panel .select { position: absolute; top: 15px; left: 50%; margin-left: -110px; width: 220px; height: 41px; }

.ui-datepicker-group:nth-child(1) .ui-datepicker-header { margin-right: 25px; }
.ui-datepicker-group:nth-child(1) table { float: left; }

.ui-datepicker-group:nth-child(3) .ui-datepicker-header { margin-left: 25px; }
.ui-datepicker-group:nth-child(3) table { float: right; }

#datepicker { width: 858px; margin: 0 auto 25px; }
#datepicker .ui-datepicker.ui-datepicker-multi { width: 100% !important; background: transparent; border: 0; }
#datepicker .ui-datepicker .ui-datepicker-header { background: transparent; border: 0; color: #97bee5; }
#datepicker .ui-datepicker .ui-datepicker-prev, #datepicker .ui-datepicker .ui-datepicker-next { display: none; }
#datepicker .ui-datepicker table { border: 1px solid #97bee5; -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); width: 260px; }
#datepicker + .legend li > span, #datepicker .ui-datepicker td { border: 1px dotted #97bee5; height: 38px; }
#datepicker + .legend li { width: 25%; float: left; line-height: 38px; }
#datepicker + .legend li > span { display: inline-block; width: 40px; text-align: center; }
#datepicker + .legend li > span span, #datepicker .ui-datepicker td span, #datepicker .ui-datepicker td a { border: 2px solid white; height: 35px; line-height: 33px; padding: 1px; color: #052c55; text-align: center; }
#datepicker + .legend li.disabled span span, #datepicker .ui-datepicker td span { background: white; }
#datepicker + .legend li span span, #datepicker .ui-datepicker td a { background: #c1e7c1; }
#datepicker + .legend li.special span span, #datepicker .ui-datepicker td.special a { background: #ffcc99 url(../images/ico-special-2.png) no-repeat 100% 0%; }
#datepicker + .legend li.disabled span span, #datepicker .ui-datepicker td.ui-state-disabled { opacity: 1; }
#datepicker + .legend li.disabled span span span, #datepicker .ui-datepicker td.ui-state-disabled span { color: #052c55; }
#datepicker .ui-state-highlight { background: white; }
#datepicker .ui-state-highlight a, #datepicker .ui-state-highlight span { background: #bed6ee !important; }
#datepicker + .legend li.highlight span span { background: #bed6ee !important; }

.legend { color: #97bee5; }
.legend span span { display: block; height: 100%; }
.legend li > span { padding: 1px !important; margin-left: 15px; }

.pricelist-content .panel-counter, .options.mandatory { background: url(../images/section-divider.png) no-repeat 50% 100%; }

.dates-panel { position: fixed; top: 0; left: 0; padding: 20px; background: #c0d8ef; color: #333333; font-family: arial; font-size: 13px; line-height: 16px; }

.order-content { margin: 0 40px; color: #838383; }
.order-content h1, .order-content h2, .order-content .form-order-box label { color: #97bee5; }
section.main .order-content h1, section.main .order-content h2, section.main .order-content .term p { font-size: 20px; font-size: 2rem; line-height: 1; }
.order-content h1, .order-content section { background: url(../images/section-divider.png) no-repeat 50% 100%; }
.order-content h1 { padding: 46px 35px 25px; margin-bottom: 0 !important; }
.order-content article section { padding: 18px 35px; }
.order-content section.term h2, .order-content section.term p { margin-bottom: 0; }
.order-content section.term h2 { float: left; }
.order-content section.term p { float: right; display: block; color: black; font-weight: bold; }
.order-content section.persons { padding-top: 30px; padding-bottom: 50px; }
.order-content .options { padding-left: 35px; padding-right: 35px; }
.order-content .options.optional { border-bottom: 1px solid #6ea4db; }
.order-content .options.optional dd { line-height: 18px; }

.price .panel-counter { margin-top: 0; }
.services + .price .panel-counter { margin-top: 22px; }
.price .panel-counter ul { color: #838383; clear: both; padding-top: 30px; line-height: 1.5; }
.price .panel-counter > span { float: left; padding-top: 10px; }
.price .panel-counter > div .note { top: 0; }
.price .panel-counter > .note { font-size: 14px; font-size: 1.4rem; line-height: 1; }

.form-order-box { width: 170px; float: left; }
.form-order-box + .form-order-box { margin-left: 52px; }
.form-order-box label { display: block; margin-bottom: 5px; }

label.chb-label { font-size: 12px; font-size: 1.2rem; line-height: 22px; position: relative; overflow: hidden; height: 22px; display: inline-block; cursor: pointer; }
label.chb-label input { position: absolute; left: -32px; }
label.chb-label span { float: left; width: 19px; height: 20px; margin-right: 10px; background: url(../images/sprite.png) no-repeat -93px -39px; }
label.chb-label.checked span { background-position: -74px -39px; }

.contact-info { background: #e8f1fa; padding: 16px 38px; margin-bottom: 10px; }
.contact-info h3 { color: #97bee5; }
.contact-info label { display: block; font-size: 14px; font-size: 1.4rem; line-height: 1; margin-bottom: 3px; }
.contact-info label.chb-label { font-size: 12px; font-size: 1.2rem; line-height: 1; }
.contact-info label sup { vertical-align: top; }
.contact-info label + input, .contact-info label + textarea { font-size: 13px; font-size: 1.3rem; line-height: 1; display: block; width: 300px; padding: 8px 12px; -webkit-box-shadow: rgba(150, 150, 150, 0.4) 4px 2px 6px inset; -moz-box-shadow: rgba(150, 150, 150, 0.4) 4px 2px 6px inset; box-shadow: rgba(150, 150, 150, 0.4) 4px 2px 6px inset; border: 1px solid #6ea4db; margin-bottom: 15px; color: #838383; }
.contact-info label + textarea { -webkit-box-shadow: rgba(150, 150, 150, 0.4) 4px 4px 6px inset; -moz-box-shadow: rgba(150, 150, 150, 0.4) 4px 4px 6px inset; box-shadow: rgba(150, 150, 150, 0.4) 4px 4px 6px inset; max-width: 300px; height: 140px; }
.contact-info label.chb-label { margin-bottom: 15px; line-height: 22px; }
.contact-info + .button { margin: 0 0 20px 33px; }

.contacts-content > article { margin-left: 270px; float: left; width: 510px; background: url(../images/family.jpg) no-repeat 100% 100%; padding-right: 215px; }
.contacts-content > article h1, .contacts-content > article h2, .contacts-content > article h1 + p { font-size: 16px; font-size: 1.6rem; line-height: 22px; color: #97bee5; }
.contacts-content > article h1 { margin-top: 15px; margin-bottom: 0; }
.contacts-content > article h2 { margin-bottom: 5px; }
.contacts-content > article p { line-height: 24px; color: #111111; }
.contacts-content > article h1 + p, .contacts-content > article p + p { padding-bottom: 15px; background: url(../images/section-divider-small.png) no-repeat 0 100%; }
.contacts-content > article a { color: #97bee5; text-decoration: underline; }
.contacts-content > article a:hover { text-decoration: none; color: #83b1e0; }
.contacts-content .left { width: 270px; float: left; margin-left: -780px; }
.contacts-content .left a, .contacts-content .left > img { display: block; margin: 0 auto 40px; }
.contacts-content .left > img:first-child { margin-top: 15px !important; }
.contacts-content .left > img:last-child { margin-bottom: 20px !important; }
.contacts-content .right { float: right; }
.contacts-content aside .boxes { border-width: 10px; }
.contacts-content aside .boxes section { width: auto; }
.contacts-content aside .boxes .outer { float: none; margin: 0 0 10px; }
.contacts-content aside .boxes .outer:last-child { margin-bottom: 0; }

#map-canvas { width: 100%; height: 470px; }

.reviews-container { display: none; }
.reviews-container .gallery-holder { padding: 0 50px; }

.reviews .gallery-placeholder { background: transparent; color: white; height: auto; }
.reviews .gallery-placeholder .stars { background: url(../images/sprite.png) no-repeat 0 -461px; height: 34px; }
.reviews .gallery-placeholder header h1, .reviews .gallery-placeholder header strong { text-shadow: #5a98d6 0 -1px 1px; }
.reviews .gallery-placeholder header h1 { font-size: 40px; font-size: 4rem; line-height: 1; margin-bottom: 5px; }
.reviews .gallery-placeholder header strong { font-size: 23px; font-size: 2.3rem; line-height: 1; font-weight: normal; }
.reviews .gallery-placeholder p { font-size: 14px; font-size: 1.4rem; line-height: 1; }
.reviews .gallery-placeholder .comment p { margin-bottom: 0.6em; }
.reviews .gallery-placeholder .comment p:last-child { margin-bottom: 1.5em; }
.reviews .rating { width: 204px; display: block; padding: 12px 0 6px; }
.reviews .stars-wrapper { width: 87px; display: block; padding-top: 5px; }
.reviews .stars { background: url(../images/sprite.png) no-repeat -99px -90px; display: block; height: 16px; }
.reviews .star-0 { width: 0%; }
.reviews .star-1 { width: 20%; }
.reviews .star-2 { width: 40%; }
.reviews .star-3 { width: 60%; }
.reviews .star-4 { width: 80%; }
.reviews .star-5 { width: 100%; }
.reviews .tab { padding-top: 60px; padding-bottom: 0px; }

.reviews-slider-wrapper { padding-bottom: 28px; }

article.rating-item { width: 48%; float: left; position: relative; }
article.rating-item:nth-child(2n) { float: right; }
article.rating-item:nth-child(2n+1) { clear: both; }
article.rating-item:nth-child(2n-1) { margin-bottom: 65px; }
article.rating-item:nth-child(2n+3):before { content: ""; display: block; width: 200%; height: 12px; position: absolute; top: -37px; left: 2%; background: url(../images/section-divider.png) no-repeat 50% 100%; }
article.rating-item .rating-meta { float: left; margin: 0 15px 0 75px; width: 100px; }
article.rating-item .rating-meta strong { font-size: 15px; font-size: 1.5rem; line-height: 1; display: block; font-weight: normal; margin-bottom: 5px; }
article.rating-item .rating-meta span { display: inline-block; }
article.rating-item .rating-meta span.city { padding-right: 5px; }
article.rating-item .rating-meta span.country { padding-left: 5px; border-left: 1px solid #97bee5; }
article.rating-item .rating-meta ~ p { font-size: 13px; font-size: 1.3rem; line-height: 1; float: right; color: #838383; width: 235px; }
article.rating-item img { position: absolute; left: 0; top: 0; display: block; margin: 0; max-width: 65px; }

.villapark-content { position: relative; }
.villapark-content:before { content: ""; display: block; width: 235px; height: 293px; position: absolute; bottom: -16px; left: 10px; background: url(../images/family-2.jpg) no-repeat 0 0; }
.villapark-content .boxes { border: 0; padding: 23px; }
.villapark-content .boxes.no-padding { padding: 0; }
.villapark-content .boxes img { position: relative; }
.villapark-content .boxes img + img, .villapark-content .boxes a + img { margin-top: 3px; }
.villapark-content .boxes .outer { width: 232.75px; float: left; }
.villapark-content .boxes .outer img { position: static; float: left; }
.villapark-content .boxes .outer + .outer { margin-left: 3px; }
.villapark-content .boxes .double { width: 469.5px; }
.villapark-content .video-container { position: relative; float: left; width: 232.75px; padding-top: 195px; margin-right: 3px; }
.villapark-content .video-container a { padding: 0; }
.villapark-content .video-container span { margin: 60px auto 0; }
.villapark-content .line { background: #e7f0f9; padding: 5px 25px; }
.villapark-content .line > a { font-size: 18px; font-size: 1.8rem; line-height: 35px; float: left; }
.villapark-content .line h1 { font-size: 18px; font-size: 1.8rem; line-height: 35px; width: 704.25px; float: right; margin-bottom: 0; }
.villapark-content aside.left { float: left; width: 232.75px; margin-left: 25px; padding-top: 5px; padding-bottom: 310px; }
.villapark-content article.from-editor { float: right; width: 704.25px; margin-right: 25px; color: #838383; padding-top: 10px; }
.villapark-content .tab-villapark { display: none; }
.villapark-content .tab-villapark.active { display: block; }
.villapark-content .tabs li { background: url(../images/menu-divider.png) no-repeat 50% 100%; padding: 6px 20px 14px; }
.villapark-content .tabs a { color: #fa853e; font-size: 16px; font-size: 1.6rem; line-height: 20px; text-transform: none; }
.villapark-content .tabs a:hover, .villapark-content .tabs .active a { color: #fba470; font-weight: bold; }

.textpage-content { font-size: 14px; color: #4c4c4c; }
.textpage-content .boxes { height: 440px; }
.textpage-content .no-padding { padding: 0; border: 0; }
.textpage-content .title { position: absolute; right: 0; bottom: 0; left: 0; color: #4c4c4c; background: url(../images/green-semitransparent.png); z-index: 10; padding: 10px 40px; border-top: 1px solid #a3c6e7; border-bottom: 1px solid #a3c6e7; }
.textpage-content .title h1 { font-size: 40px; line-height: 1.3em; margin-bottom: 0; position: relative; }
.textpage-content .title h1 a { position: absolute; top: 50%; right: 0; margin-top: -29px; }
.textpage-content .bubble { position: absolute; display: inline-block; }
.textpage-content .bubble img { display: block; margin: 0; }
.textpage-content .from-editor { padding: 40px; }

.textpage-perex { font-size: 18px; padding-bottom: 25px; background: url(../images/section-divider-blue.png) no-repeat 50% 100%; margin-bottom: 15px; color: #97bee5; }
.textpage-perex p { margin-bottom: 0.7em; }
