%button
	display: inline-block
	position: relative


.button-blue,
.button-orange
	@extend %button

%button-pseudo
	content: ''
	display: block
	width: 90px
	height: 21px
	position: absolute
	top: 50%
	margin-top: -10px
	background: url(../images/sprite.png) no-repeat


.button-blue-pre,
.button-blue-post,
.button-blue-right,
.button-blue-left
	@extend .button-blue
	background:
		image: url(../images/sprite-buttons.png)
		repeat: no-repeat

.button-blue-pre,
.button-blue-post
	background-position: 100% -191px
	height: 25px
	line-height: 25px
	color: #fff
	padding: 0 15px 0 10px

	&:hover
		background-position: 100% -216px

.button-blue-right,
.button-blue-left
	height: 35px
	line-height: 35px
	color: $color-base

	&:hover
		background-position: 100% -216px

.button-blue-left
	background-position: 0 -531px
	padding: 0 42px 0 46px
	border-right: 1px solid #accbea

	&:hover
		background-position: 0 -566px

.button-blue-right
	background-position: 100% -531px
	padding: 0 46px 0 42px
	border-left: 1px solid #accbea

	&:hover
		background-position: 100% -566px

.button-blue-pre
	&:before
		@extend %button-pseudo
		left: -105px
		background-position: 0 -83px

.button-blue-post
	&:after
		@extend %button-pseudo
		right: -105px
		background-position: 0 -104px

.button-orange
	background: url(../images/sprite-buttons.png) no-repeat
	background-position: 100% -241px

	span
		+font-size(16)
		color: #fff
		background: url(../images/sprite-buttons.png) no-repeat
		background-position: 0 -299px
		display: block
		height: 58px
		line-height: 58px
		//padding: 0 35px 0 25px
		padding: 0 35px 0 30px


	&:hover
		background-position: 100% -357px

		span
			background-position: 0 -415px