.contacts-content
	$column-left-width: 270px
	$column-right-width: 250px
	$content-left-space: 270px
	$content-right-space: 210px
	$content-width: $body-width - $content-left-space - $content-right-space

	@extend .clearfix


	//aside.left
	//	float: left
	//
	//aside.right
	//	float: right

	//$admins

	& > article
		margin-left: $content-left-space
		float: left
		width: $content-width
		background: url(../images/family.jpg) no-repeat 100% 100%
		padding-right: 215px

		h1,
		h2,
		h1 + p
			+font-size(16, 22px)
			color: $color-base

		h1
			margin-top: 15px
			margin-bottom: 0

		h2
			margin-bottom: 5px

		p
			line-height: 24px
			color: #111

		h1 + p,
		p + p
			padding-bottom: 15px
			background: url(../images/section-divider-small.png) no-repeat 0 100%

		a
			color: $color-base
			text-decoration: underline
		a:hover
			text-decoration: none
			color: darken($color-base, 5%)


	.left
		width: $content-left-space
		float: left
		margin-left: -($content-width + $content-left-space)

		a,
		& > img
			display: block
			margin: 0 auto 40px

		& > img:first-child
			margin-top: 15px !important

		& > img:last-child
			margin-bottom: 20px !important

	.right
		float: right

	aside .boxes
		border-width: 10px

		section
			width: auto

		.outer
			float: none
			margin: 0 0 10px
		.outer:last-child
			margin-bottom: 0

#map-canvas
	width: 100%
	height: 470px