.gallery-panel
	@extend .clearfix
	padding: 15px 25px 5px
	//height: 30px
	line-height: 32px
	background: #e8f1fa


	$line-height: 38px
	.info
		float: left
		width: 550px
		h3
			+font-size(26, $line-height)
			float: left
			width: 300px
			margin-bottom: 0
		.select
			float: right
			width: 250px

	.help
		width: 380px
		text-align: center
		margin-bottom: 0
		float: right
		line-height: $line-height

.gallery-holder
	@extend .clearfix
	padding: 25px
	background: #97bee5 url(../images/gallery-bg.jpg) no-repeat 50% 0

.gallery-placeholder
	float: left
	width: 550px
	height: 415px
	background: #fff
	padding: 10px

.gallery-thumbs-wrapper
	float: right
	width: 380px
	position: relative

	& > a
		position: absolute
		right: 25px
		top: 20px
		color: #fff

		& + a
			top: auto
			bottom: 20px
		&:hover
			color: darken(#fff, 10%)

.roundabout-holder
	list-style: none
	padding: 0
	margin: 0 auto
	height: 415px
	width: 230px

.roundabout-moveable-item span
	display: block
	width: 100%
	height: 100%
	cursor: pointer
	background-color: #ccc
	border: 10px solid #fff

.roundabout-moveable-item
	border: 1px solid #999
	width: 230px
	height: 175px

.roundabout-in-focus
	cursor: auto


.gallery-thumbs img
	display: block
	max-width: 100%
	max-height: 100%
	margin: 0

.gallery .from-editor
	margin: 0 50px
	padding: 30px 0
	//background: url(../images/gallery-visual.jpg) no-repeat 100% 65px
	min-height: 450px

	article
		@extend .clearfix
		.from-editor-main
			width: 525px
			float: left

		.from-editor-column
			float: right
			padding-top: 65px

			img
				display: block
				max-width: 100%
				margin: 0 auto 30px
	li
		font-weight: bold