body.homepage
	background-image: none

	.container >.inner
		padding-top: 395px
		padding-top: 1px
		background: transparent

	section.main
		margin-top: 639px

.promo
	background: #fff
	border:
		width: 1px 1px 0
		style: solid
		color: $color-base
	min-height: 221px
	text-align: center
	color: $color-dark

	width: $body-width
	position: absolute
	bottom: 0
	z-index: 5
	left: 50%
	margin-left: ($body-width / 2) * -1

	h1
		+font-size(42)
		color: $color-base
		margin-bottom: .3em

	p
		line-height: 1.6em

	a.more
		@extend .button-blue-pre
		@extend .button-blue-post

	div
		padding: 20px 30px
		float: left
		width: 790px

div.promo-images
	float: right
	width: 190px
	min-height: 220px
	height: 100%
	padding: 20px
	position: relative

	.inner
		position: absolute
		top: 20px
		right: 20px
		bottom: 20px
		left: 20px
		overflow: hidden
		width: auto
		padding: 0

	li
		height: 100%
		text-align: center
		float: left

	img
		display: block
		margin: 0 auto
		max-width: 100%
		max-height: 100%

section.boxes

	@extend .clearfix
	position: relative
	border: $border-thick solid $color-box-border
	background: $color-box-border


	section
		@extend .clearfix
		background: transparent
		width: 60%
		//width: 690px
		// border:
			// width: 0 5px 5px 0px
			// color: $color-box-border
			// style: solid
		.outer
			position: relative
			float: left
			padding: 18px 18px
			// width: 33.3%
			// padding-top: 33.3%
			// padding-top: 33.4% * (214/228)
			width: $box-width
			height: $box-height
			margin: 0 0 $box-gutter $box-gutter
			// border:
			// 	width: 0 $border-slim $border-slim 0
			// 	color: $color-box-border
			// 	style: solid
			// & > div
			// 	position: absolute
			// 	top: 0
			// 	left: 0
			// 	width: 100%
			// &:nth-child(3n)
			// 	width: 33.4%

			&:nth-child(4n),
			&:nth-child(5n),
			&:nth-child(6n)
				//border-bottom: 0
				margin-bottom: 0
				padding-top: 15px

			&:nth-child(6n)
				background: #fff
				h3
					margin-bottom: 0

			&:nth-child(3n+1)
				margin-left: 0
	img
		position: absolute
		top: 0
		left: 0
		z-index: 2

	h3
		+font-size(18)
		position: relative
		z-index: 3

	section + section
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 40%
		//width: 460px
		border: 0

		.outer
			width: 50%
			width: $box-width + 1px
			height: 100%
			display: inline-block
			//float: none
			padding: 10px
			border: ($border-thick - 5px) solid $color-box-border-alt
			background: $color-bg-light-alt

			& > div
				position: relative
				top: 0
				left: 0
				width: 100%

			h3
				color: $color-alt
				margin-bottom: 5px
				margin-left: 5px
				margin-right: 5px

		.outer + .outer
			padding: ($border-thick + 5px) ($border-thick - 3px) ($border-thick - 5px)
			border: 0
			background: #fff

			// border:
			// 	width: 0 0 0 $border-slim
			// 	style: solid
			// 	color: $color-box-border
			// top: -20px
			// width: $box-width + $box-gutter

			h3
				color: $color-base
				margin-bottom: 10px
				margin-left: 0
				margin-right: 0

	.month
		padding: 8px 0
		border-bottom: 1px solid lighten($color-base, 10%)
		box-shadow: 0 1px 0 lighten($color-base, 25%)
		h4
			+font-size(17)
			color: $color-alt

		li
			@extend .clearfix
			+font-size(12)

		li,
		a
			color: $color-dark
			display: block

		a:hover .date
			text-decoration: underline
			color: lighten($color-dark, 10%)


		h4,
		li
			margin: 0 5px
			margin-bottom: 5px
		.date
			float: left

		.price
			float: right

	.month:last-of-type
		border: 0
		box-shadow: none
		margin-bottom: 0px

	.reservation
		text-align: center
		a
			@extend .button-orange

	.slider
		.inner
			height: 310px
			height: 233px
			overflow: hidden
			margin-bottom: 10px

		ul
			position: relative

		li
			+font-size(12)
			margin: 0 0 10px
			position: relative
			height: 150px
			height: 107px
			//overflow-y: hidden
			overflow: hidden

		strong
			+font-size(14)
			font-weight: normal

		span
			display: inline-block
			margin: 5px 0

		.city
			padding: 0 5px 0 0

		.country
			border-left: 1px solid
			padding: 0 0 0 5px

		p
			font-style: italic

		.rating-meta
			padding-left: 70px
			margin-bottom: 0px
			min-height: 70px

		.stars
			background: url(../images/sprite.png) no-repeat -96px -90px
			height: 16px
			display: block
			margin-left: -5px

		img
			max-width: 60px

		$class-slug: 'star'
		@for $i from 0 through 5
			.#{$class-slug}-#{$i}
				width: 19px * $i

	.more
		@extend .button-blue-post
		&:after
			right: -95px





.homepage
	.outer
		.ico-grid
			width: 120%
			margin: 0 0 0 -18px
			-webkit-transform: scale(.8)
			-moz-transform: scale(.8)
			transform: scale(.8)

			.lt-ie10 &
				padding-top: 15px
				margin-left: 0

			span
				margin: 0 0 10px 10px

				.lt-ie10 &
					zoom: .8

			span:nth-of-type(3n+1)
				clear: left

			&:after
				content: ''
				display: block
				clear: both