$button-size: 40px !default
$rev-slide-width: 290px
$rev-slide-height: 217px
$rev-slide-space: 16px

$main-slider-height: 640px !default

.main-slider
	position: absolute
	top: 0
	left: 0
	z-index: 7
	padding-top: $main-slider-height
	width: 100%
	overflow: hidden

.reviews-slider-wrapper
	position: relative

.reviews-slider
	position: relative
	width: ($rev-slide-width*3 + $rev-slide-space*2)
	overflow: hidden
	padding-top: $rev-slide-height
	margin: 0 auto

.main-slider,
.reviews-slider
	.inner
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0

.main-slider-controls
	$button-size: 64px
	display: block
	position: absolute
	width: $button-size
	height: $button-size
	background: url(../images/sprite-buttons.png) no-repeat
	top: 230px
	//margin-top: -$button-size/2
	z-index: 10

.reviews-slider-wrapper
	.main-slider-controls
		top: 75px
		margin-top: 0

.main-slider-controls.slider-prev
	left: 50%
	margin-left: -$body-width/2
	background-position: (-$button-size) 0

	.reviews-slider-wrapper &
		left: 10px
		margin-left: 0

	&:hover
		background-position: (-$button-size) (-$button-size)

.main-slider-controls.slider-next
	right: 50%
	margin-right: -$body-width/2
	background-position: 0 0

	.reviews-slider-wrapper &
		right: 10px
		margin-right: 0


	&:hover
		background-position: 0 (-$button-size)

.slide
	float: left
	height: 100%
	min-width: 250px
	position: relative
	overflow: hidden

	.reviews-slider & + &
		margin-left: $rev-slide-space

	a
		display: block
		height: 100%

	img
		display: block

	img.visual
		position: absolute
		top: 0
		left: 50%
		margin-left: -960px

	.reviews-slider & > img
		width: 100%

.positioned-promo
	position: absolute
	height: auto !important
	z-index: 9

// #slide-1
// 	background: #efefef
// #slide-2
// 	background: green
// #slide-3
// 	background: gold