.minict_wrapper
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box
	color: #fff
	background: $color-selectbox-bg

	position: relative
	width: 100%
	height: 2.2rem
	height: 100%

	border: 1px solid $color-border

	&:after
		content: ""
		display: block
		position: absolute
		height: 20px
		width: 20px
		background: url(../images/sprite.png) no-repeat -37px -48px
		top: 50%
		right: 5px
		margin-top: -10px


	&.active:after
		background: url(../images/sprite.png) no-repeat -57px -48px


	input
		border: 0
		outline: none
		background: none
		color: #fff
		height: 100%
		padding: 0 15px
		cursor: default
		width: 100%

		&:-moz-placeholder
			color: #fff

		&::-webkit-input-placeholder
			color: #fff


	ul
		@extend %reset-list
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		display: none
		position: absolute
		width: 100%
		border: 1px solid $color-border
		top: 30px
		left: -1px
		max-height: 300px
		overflow-y: auto
		z-index: 999999

		li
			list-style: none
			padding: 0 15px
			cursor: pointer
			background: $color-selectbox-bg
			height: 30px
			line-height: 30px

			&:hover
				background: lighten($color-selectbox-bg, 10%)


			// &.minict_group
			// 	color: #444
			// 	background: #f6f6f6
			// 	font-weight: bold
			// 	cursor: default


			&.minict_empty
				display: none


			// &.selected
			// 	color: #c00
			// 	background: #f9fcff


			// &.highlighted
			// 	color: #fc0
			// 	background: #819a9a


			&.hidden
				display: none

#year-select + .minict_wrapper
	color: $color-base
	background: url(../images/sprite-buttons.png) no-repeat 50% -631px
	width: 100%
	height: 100%
	border: 1px solid #accbea
	border-width: 0 1px
	line-height: 41px

	&:after
		+font-size(11, 20px)
		content: "\25BC"
		background: transparent
		text-align: center

	&.active:after
		content: "\25B2"
		background: transparent

	input
		+font-size(18, 41px)
		color: $color-base
		padding: 0 15px
		cursor: default
		display: block
		height: 100%
		width: 100%
		line-height: 41px

		&:-moz-placeholder
			color: $color-base

		&::-webkit-input-placeholder
			color: $color-base

	ul
		border: 1px solid #accbea
		border-width: 0 1px 1px
		top: 41px
		left: -1px
		max-height: 180px

		li
			background: #eaf2fb
			height: 36px
			line-height: 36px

			&:hover
				background: darken(#eaf2fb, 10%)