div.minict_wrapper
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box
	color: $color-base
	background: url(../images/sprite-buttons.png) no-repeat 50% -531px


	position: relative
	width: 100%
	//height: 2.2rem
	height: 100%

	border:
		width: 0 1px
		style: solid
		color: #accbea
	line-height: 35px
	height: 35px

	&:after
		+font-size(11, 20px)
		content: "\25BC"
		display: block
		position: absolute
		height: 20px
		width: 20px
		background: transparent
		text-align: center
		top: 50%
		right: 5px
		margin-top: -10px


	&.active:after
		content: "\25B2"
		background: transparent


	input
		+font-size(15, 35px)
		border: 0
		outline: none
		background: none
		color: $color-base
		width: 100%
		height: 100%
		cursor: default
		display: block
		padding: 0 12px

		&:-moz-placeholder
			color: $color-base

		&::-webkit-input-placeholder
			color: $color-base


	& > ul
		@extend %reset-list
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		display: none
		position: absolute
		width: 100%
		border: 1px solid #accbea
		top: 35px
		left: -1px
		max-height: 180px
		overflow-y: auto
		z-index: 999999

		li
			list-style: none
			padding: 0 12px
			cursor: pointer
			background: #eaf2fb
			height: 32px
			line-height: 32px

			&:hover
				background: darken(#eaf2fb, 10%)

			&.minict_empty
				display: none

			&.hidden
				display: none

#gallery-select + .minict_wrapper
	color: #fff
	background: $color-selectbox-bg
	border: 1px solid $color-border

	line-height: 32px
	height: 35px

	&:after
		content: ""
		background: url(../images/sprite.png) no-repeat -31px -39px

	&.active:after
		background: url(../images/sprite.png) no-repeat -48px -39px


	input
		+font-size(14, 36px)
		color: #fff

		&:-moz-placeholder
			color: #fff

		&::-webkit-input-placeholder
			color: #fff

	ul
		border: 1px solid $color-border
		border-width: 0 1px 1px
		top: 36px
		max-height: 300px

		li
			background: $color-selectbox-bg
			height: 30px
			line-height: 30px

			&:hover
				background: lighten($color-selectbox-bg, 10%)