.order-content
	margin: 0 40px
	color: $color-base-gray

	h1,
	h2,
	.form-order-box label
		color: $color-base
	section.main &
		h1,
		h2,
		.term p
			+font-size(20)

	h1,
	section
		background: url(../images/section-divider.png) no-repeat 50% 100%

	h1
		padding: 46px 35px 25px
		margin-bottom: 0 !important

	article
		section
			padding: 18px 35px

	section.term
		@extend .clearfix
		h2,
		p
			margin-bottom: 0

		h2
			float: left

		p
			float: right
			display: block
			color: #000
			font-weight: bold

	section.persons
		@extend .clearfix
		padding-top: 30px
		padding-bottom: 50px

	.options
		padding-left: 35px
		padding-right: 35px

		&.optional
			border-bottom: 1px solid $color-border

			dd
				line-height: 18px


.price .panel-counter
	margin-top: 0

	.services + &
		margin-top: 22px

	ul
		color: $color-base-gray
		clear: both
		padding-top: 30px
		line-height: 1.5

	& > span
		float: left
		padding-top: 10px

	& > div .note
		top: 0

	& > .note
		+font-size(14)

.form-order-box
	width: 170px
	float: left
	& + .form-order-box
		margin-left: 52px
	label
		display: block
		margin-bottom: 5px


label.chb-label
	+font-size(12, 22px)
	position: relative
	overflow: hidden
	height: 22px
	display: inline-block
	cursor: pointer

	input
		position: absolute
		left: -32px

	span
		float: left
		width: 19px
		height: 20px
		margin-right: 10px
		background: url(../images/sprite.png) no-repeat -93px -39px

	&.checked span
		background-position: -74px -39px

.contact-info
	background: #e8f1fa
	padding: 16px 38px
	margin-bottom: 10px

	h3
		color: $color-base

	label
		display: block
		+font-size(14)
		margin-bottom: 3px

		&.chb-label
			+font-size(12)

		sup
			vertical-align: top

	label + input,
	label + textarea
		+font-size(13)
		display: block
		width: 300px
		padding: 8px 12px
		-webkit-box-shadow: rgba(150, 150, 150, .4) 4px 2px 6px inset
		-moz-box-shadow: rgba(150, 150, 150, .4) 4px 2px 6px inset
		box-shadow: rgba(150, 150, 150, .4) 4px 2px 6px inset
		border: 1px solid  $color-border
		margin-bottom: 15px
		color: $color-base-gray

	label + textarea
		-webkit-box-shadow: rgba(150, 150, 150, .4) 4px 4px 6px inset
		-moz-box-shadow: rgba(150, 150, 150, .4) 4px 4px 6px inset
		box-shadow: rgba(150, 150, 150, .4) 4px 4px 6px inset
		max-width: 300px
		height: 140px

	label.chb-label
		margin-bottom: 15px
		line-height: 22px

	& + .button
		@extend .button-orange
		margin: 0 0 20px 33px