.pricelist-content
	padding: 0 65px
	color: $color-base-gray

	& > strong
		display: block
		+font-size(20, 1.25em)
		color: $color-base

	ul
		margin-bottom: 30px
		li
			line-height: 1.3


.pricelist-panel
	@extend .clearfix
	padding: 15px 0
	position: relative

	& > a
		@extend .button-blue
		+font-size(15)

	.load-prev
		@extend .button-blue-left
		float: left
		display: none

	.load-next
		@extend .button-blue-right
		float: right

	.select
		position: absolute
		top: 15px
		left: 50%
		margin-left: -110px
		width: 220px
		height: 41px

.ui-datepicker-group:nth-child(1)
	.ui-datepicker-header
		margin-right: 25px
	table
		float: left
		// width: 260px

.ui-datepicker-group:nth-child(3)
	.ui-datepicker-header
		margin-left: 25px
	table
		float: right
		// width: 260px


// jquery ui override
#datepicker
	width: 858px
	margin: 0 auto 25px

	.ui-datepicker.ui-datepicker-multi
		width: 100% !important
		background: transparent
		border: 0

	.ui-datepicker .ui-datepicker-header
		background: transparent
		border: 0
		color: $color-base

	.ui-datepicker .ui-datepicker-prev,
	.ui-datepicker .ui-datepicker-next
		display: none

	.ui-datepicker table
		border: 1px solid $color-base
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3)
		-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3)
		box-shadow: 1px 1px 3px rgba(0,0,0,.3)
		width: 260px

	& + .legend li > span,
	.ui-datepicker td
		border: 1px dotted $color-base
		height: 38px

	& + .legend li
		width: 25%
		float: left
		line-height: 38px

		&  > span
			display: inline-block
			width: 40px
			text-align: center

	& + .legend li > span span,
	.ui-datepicker td span,
	.ui-datepicker td a
		border: 2px solid #fff
		height: 35px
		line-height: 33px
		padding: 1px
		color: $color-dark
		text-align: center

	& + .legend li.disabled span span,
	.ui-datepicker td span
		background: #fff

	& + .legend li span span,
	.ui-datepicker td a
		background: #c1e7c1

	& + .legend li.special span span,
	.ui-datepicker td.special a
		background: #ffcc99 url(../images/ico-special-2.png) no-repeat 100% 0%

	& + .legend li.disabled span  span,
	.ui-datepicker td.ui-state-disabled
		opacity: 1
		span
			color: $color-dark

	.ui-state-highlight
		background: #fff
		a,
		span
			background: $color-highlight !important

	& + .legend li.highlight span  span
		background: $color-highlight !important


	// .ui-state-default,
	// .ui-widget-content .ui-state-default,
	// .ui-widget-header .ui-state-default
	// 	border: 0
	// 	background: transparent
	// 	font-weight: normal
	// 	color: $color-dark

.legend
	color: $color-base
	ul
		@extend .clearfix
		@extend %reset-list

	span span
		display: block
		height: 100%

	li > span
		padding: 1px !important
		margin-left: 15px

.pricelist-content .panel-counter,
.options.mandatory
	background: url(../images/section-divider.png) no-repeat 50% 100%

.dates-panel
	position: fixed
	top: 0
	left: 0
	padding: 20px
	background: lighten($color-base, 10%)
	color: #333
	font-family: arial
	font-size: 13px
	line-height: 16px