.reviews-container
	display: none

	.gallery-holder
		padding: 0 50px

.reviews
	.gallery-placeholder
		background: transparent
		color: #fff
		height: auto

		.stars
			background: url(../images/sprite.png) no-repeat 0 -461px
			height: 34px
			//margin: 12px 0 6px

		header
			h1,
			strong
				text-shadow: darken($color-base, 15%) 0 -1px 1px
			h1
				+font-size(40)
				margin-bottom: 5px
			strong
				+font-size(23)
				font-weight: normal

		p
			+font-size(14)

		.comment
			p
				margin-bottom: .6em
			p:last-child
				margin-bottom: 1.5em

	.rating
		width: 204px
		//display: inline-block
		display: block
		padding: 12px 0 6px

	.stars-wrapper
		width: 87px
		display: block
		padding-top: 5px

	.stars
		background: url(../images/sprite.png) no-repeat -99px -90px
		display: block
		height: 16px

	.star-0
		width: 0%
	.star-1
		width: 20%
	.star-2
		width: 40%
	.star-3
		width: 60%
	.star-4
		width: 80%
	.star-5
		width: 100%

	.tab
		padding-top: 60px
		padding-bottom: 0px

.reviews-slider-wrapper
	padding-bottom: 28px

article.rating-item
	width: 48%
	float: left
	position: relative

	&:nth-child(2n)
		float: right

	&:nth-child(2n+1)
		clear: both

	&:nth-child(2n-1)
		margin-bottom: 65px

	&:nth-child(2n+3)
		&:before
			content: ''
			display: block
			width: 200%
			height: 12px
			position: absolute
			top: -37px
			left: 2%
			background: url(../images/section-divider.png) no-repeat 50% 100%

	.rating-meta
		float: left
		margin: 0 15px 0 75px
		width: 100px

		strong
			+font-size(15)
			display: block
			font-weight: normal
			margin-bottom: 5px

		span
			display: inline-block

		span.city
			padding-right: 5px

		span.country
			padding-left: 5px
			border-left: 1px solid $color-base

	.rating-meta ~ p
		+font-size(13)
		float: right
		color: $color-base-gray
		width: 235px

	img
		position: absolute
		left: 0
		top: 0
		display: block
		margin: 0
		max-width: 65px
