@import "compass/css3"

*,
*:before,
*:after
	-webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box    /* Firefox, other Gecko */
	box-sizing: border-box         /* Opera/IE 8+ */



html,
body
	margin: 0
	padding: 0
	position: relative
	color: $color-base

html
	font-size: 10px

body
	+ff('helvetica')
	+font-size($base-fontsize)
	margin-top: $header-height
	position: relative
	background: #fff url(../images/page-bg.jpg) no-repeat 50% $header-height
	// box-shadow: rgba(0,0,0,.25) 0 1px 5px inset
	min-width: $body-width

.container
	width: 100%

	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		display: block
		width: 100%
		height: 1px
		box-shadow: rgba(0,0,0,.25) 0 2px 3px

		z-index: 6

	& >.inner
		width: $body-width
		margin: 0 auto
		position: relative
		z-index: 7
		padding-top: $nav-height
		background: #fff

header.top
	position: absolute
	top: -100px
	width: 100%
	z-index: 7

	left: 50%
	margin-left: ($body-width / 2) * -1
	width: $body-width
	z-index: 8


#logo
	width: 227px
	height: 123px
	background: url(../images/logo-bg.png) no-repeat 0 0
	margin: 0 0 0 24px
	position: relative
	z-index: 2

	a,
	img
		display: block
		margin: 0
		border: 0

nav
	text-transform: uppercase

nav.languages,
nav.main
	ul
		@extend .clearfix
	li
		float: left


nav.languages
	position: absolute
	//font-family: arial, sans-serif
	top: 0
	right: 0

	li
		padding: 1px 5px

	li + li
		border-left: 1px solid
	.current
		font-weight: bold

	a
		color: $color-base
	a:hover
		text-decoration: underline

	&:before
		content: ''
		display: block
		width: 14px
		height: 15px
		background: url(../images/sprite.png) no-repeat 0 -39px
		position: absolute
		left: -15px
		top: 50%
		margin-top: -9px

nav.main
	+font-size(16)
	+ff('neutra')
	margin-top: -23px
	background: url(../images/sprite.png) repeat-x 0 0
	height: $nav-height
	-webkit-box-shadow: rgba(0,0,0,.25) 0 2px 4px
	-moz-box-shadow: rgba(0,0,0,.25) 0 2px 4px
	box-shadow: rgba(0,0,0,.25) 0 2px 4px


	li
		position: relative

	li + li
		background: url(../images/nav-divider.png) no-repeat 0 0

		a
			margin-left: 3px
	a
		padding: 15px 45px 0
		color: #fff
		position: relative
		z-index: 3
		display: block
		height: $nav-height
		margin-right: -1px
		-webkit-border-radius: 0 0 3px 3px
		-moz-border-radius: 0 0 3px 3px
		border-radius: 0 0 3px 3px

	.active a,
	a:hover
		background: url(../images/nav-active.png) no-repeat 50% 100%

ul.submenu
	display: none
	+font-size(13)
	background: #005190
	//font-weight: bold
	position: absolute
	top: 39px
	left: 2px
	width: 100%
	padding-top: 12px

	li
		display: block
		float: none
		background-image: none !important

		& + li
			border-top: 1px solid #0070ca

	li:nth-child(odd)
		background: #005ea6

	a
		color: #fff
		padding: 8px 12px
		height: auto

		&:hover
			background: transparent
			color: #fc8739

a:hover + .submenu,
ul.submenu:hover
	display: block

.quick-contact
	position: absolute
	top: 58px
	right: 0

	address
		font-style: normal
		+font-size(12)
		display: inline-block
		padding-right: 12px
		text-align: right


	.phone
		+font-size(25)
		border:
			width: 0 2px
			color: $color-base
			style: solid
		padding: 0 12px
		display: inline-block
		line-height: 1.1em
		position: relative


		&:before
			content: ''
			display: block
			width: 100px
			height: 21px
			position: absolute
			bottom: 100%
			left: -63px
			background: url(../images/sprite.png) no-repeat 0 -62px

	a
		display: inline-block
		width: 17px
		height: 15px
		background: url(../images/sprite.png) no-repeat -14px -39px
		position: relative
		top: -3px
		margin: 0 10px

.links
	@extend .clearfix
	+font-size(12)
	margin: 0 $border-thick
	background: url(../images/links-bg.png) repeat-y 50% 0

	.column
		width: 20%
		float: left
		padding: 18px

	h4
		+font-size(16)
		color: $color-alt
		margin-bottom: 10px

	li
		display: block
		//margin-bottom: 7px
		line-height: 1.6em

	a,
	address
		color: $color-dark

	a:hover
		text-decoration: underline

	address
		line-height: 1.6em


footer.bottom,
.links
	border:
		width: 0 1px 1px
		style: solid
		color: $color-box-border

footer.bottom
	position: relative
	margin-bottom: 25px
	background: #fff

	&:after
		content: ''
		display: block
		position: absolute
		bottom: -7px
		left: 0
		width: 100%
		height: 6px
		background: url(../images/body-bottom.png) no-repeat 0 0

.meta
	@extend .clearfix
	position: relative

	.copy
		float: left
		position: relative
		padding-left: 20px
		margin-left: $border-thick
		&:before
			content: ''
			display: inline-block
			width: 23px
			height: 24px
			background: url(../images/sprite.png) no-repeat -177px -48px
			position: absolute
			top: 50%
			left: 0
			margin-top: -15px

	p,
	ul
		padding: 15px 0

	p
		line-height: 24px
		margin-bottom: 0

	ul
		float: right
		margin: 6px $border-thick 0 0

	li
		float: left
		& + li
			border-left: 1px solid $color-base
			padding-left: 8px
			margin-left: 8px
		a
			color: $color-base
		a:hover
			text-decoration: underline

.logos
	@extend .clearfix
	text-align: center
	margin-bottom: 35px

	ul
		margin: 0 auto

	li,
	a
		display: inline-block
	li + li
		margin-left: 50px

.ico-span
	display: block
	width: $ico-grid-item-w
	height: $ico-grid-item-h
	float: left
	background: url(../images/sprite.png) no-repeat
	cursor: help

.ico-grid
	span
		@extend .ico-span
	$class-slug: 'ico'
	@for $i from 1 through 9
		.#{$class-slug}-#{$i}
			background-position: 0 (125px + ($i - 1)*$ico-grid-item-h)*-1 !important
			//background-position: 0 ( $i - 1 )*-160px !important

.icons
	@extend .clearfix
	width: 718px
	height: 39px
	background: url(../images/sprite-ico-white.png) no-repeat 9px 0 !important
	float: right
	margin-right: 70px

	span
		@extend .ico-span
		background: transparent

	span + span
		margin-left: 34px


.panel
	clear: both
	background: $color-alt
	padding: 10px 21px 20px 21px
	color: $color-dark

	.icons
		margin-bottom: 10px
		margin-right: 20px

		span
			margin-left: 6px
		span + span
			margin-left: 44px

	h2
		float: left
		margin: 0 0 0 25px
		color: #fff
		line-height: 45px

	.columns
		@extend .clearfix
		background: #fef5ea
		clear: both
		padding-right: 20px
		position: relative

		& > div
			width: 20%
			// float: left
			position: relative
			float: left

			& + div
				background: url(../images/lines.png) repeat 0 0

				&:before
					content: ''
					position: absolute
					left: 0
					top: 15px
					bottom: 15px
					display: block
					width: 1px
					background: $color-alt

	.reservation
		text-align: center
		background: #fee5cb

		a
			margin-top: 18px
			@extend .button-orange
			margin-bottom: 12px

		p
			line-height: 1.3em

		strong
			display: block

	ul
		overflow: hidden
		margin-bottom: 7px

	h3
		+font-size(15)
		line-height: 38px
		height: 38px
		color: $color-alt
		background: #fff
		margin-top: 10px
		margin-bottom: 1px

	h3,
	li
		padding-left: 10px
		padding-right: 10px

	li
		+font-size(13, 24px)
		float: left
		clear: left
		width: 100%

		a
			display: block
			padding: 0 5px
			+border-radius(3px, 3px)
			&:hover
				background: rgba(255, 100, 0, 0.20)

	.date,
	.price
		color: $color-dark

	.date
		+font-size(12)
		color: $color-dark

	.price
		float: right
		color: $color-dark

	.price-old
		color: $color-alt
		text-decoration: line-through

	.arrow-reservation
		display: block
		width: 25px
		height: 58px
		background: url(../images/sprite-buttons.png) no-repeat 0 -473px
		position: absolute
		top: 50%
		margin-top: -28px
		right: -14px

		&:hover
			background-position: -25px -473px

.icons-blue
	@extend .clearfix
	background: lighten($color-base, 10%)
	text-align: center
	padding: 12px 0

	em
		display: inline-block
		width: 89px
		height: 90px
		background: url(../images/sprite.png) no-repeat -49px -137px
		padding: 25px 18px 0
	em + em
		margin-left: 10px

section.main > .inner
	background: #fff
	border:
		color: $color-border
		style: solid
		width: 0 1px

.panel-counter
	@extend .clearfix
	color: $color-base
	margin-top: -27px
	padding-bottom: 15px

	.blue-i
		display: inline-block
		width: 28px
		height: 28px
		background: url(../images/sprite.png) no-repeat -100px -62px

	& > strong
		display: block
		text-align: right
		+font-size(20)
		color: #000
		margin-bottom: 30px

	& > span
		+font-size(20)
		float: left
		padding-top: 10px

	& > div
		float: right

		strong
			+font-size(38)
			color: #000
			padding: 0 10px

		a
			@extend .button-orange
			position: relative
			top: -8px

		.note
			display: block
			padding-left: 45px
			position: relative
			top: -10px

		& + div
			margin: 5px 30px 0 0

.social-bar
	position: fixed
	top: 50%
	left: 0
	background: #efefef
	border-radius: 0 5px 5px 0
	z-index: 20

	ul
		margin: 8px

	li
		display: block
		margin-bottom: 3px

	a
		display: block

	img
		display: block
		margin: 0
		border: 0

.social-footer
	padding: 10px 0
	position: absolute
	left: 50%
	bottom: 0
	height: 47px
	display: block

	& > div
		float: left
	& > div + div
		margin-left: 10px

.services .options
	padding-top: 30px
	h2
		+font-size(24, 24px)
		position: relative
		color: $color-base
		span
			width: 330px
			display: inline-block
		em
			//position: absolute
			font-style: normal
			+font-size(14, 24px)
			//left: 360px
			//top: 0

	dl
		@extend .clearfix
		margin: 0
		padding-bottom: 25px

	dt,
	dd
		display: block
		margin-bottom: 10px
		line-height: 1.3em
		float: left

	dt
		clear: both
		width: 330px

	dd
		margin-left: 0

.tabs
	$padding-vertical: 50px
	header
		+font-size(18)
		@extend .clearfix
		padding: 10px $padding-vertical 0
		background: #e8f1fa url(../images/section-divider.png) no-repeat 50% 100%

		h2
			float: left
			+font-size(18)
			margin-bottom: 0
			padding-top: 7px


	nav
		font-weight: bold
		position: relative
		float: right
		z-index: 2

		li
			display: inline-block

		a
			display: block
			padding: 0 10px
			background: transparent
			height: 35px
			width: 40px
			line-height: 35px
			text-align: center
			color: $color-base

		.active a,
		a:hover
			background: #ffffff
			-webkit-border-radius: 2px 2px 0 0
			-moz-border-radius: 2px 2px 0 0
			border-radius: 2px 2px 0 0

	.tab
		display: none
		padding:  20px $padding-vertical
		@extend .clearfix

		&.active
			display: block


// youtube player
.video-container
	a
		position: absolute
		width: 100%
		height: 100%
		z-index: 3
		left: 0
		top: 0
		padding: 18px

		span
			display: block
			position: relative
			width: 102px
			height: 91px
			z-index: 4
			background: url(../images/sprite.png) no-repeat -48px -237px
			margin: 0 auto

#ytplayer-lightbox
	display: none
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0,0,0,.8)
	z-index: 10

	.lt-ie9 &
		background: url(../images/black-transparent.png)

	#ytplayer-wrapper
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		margin: auto
		width: 640px
		height: 480px
		background: #fff
		padding: $border-thick
		+border-radius($border-thick / 2)

	#ytplayer-close
		+rotate(45deg)
		+border-radius(50%, 50%)
		+opacity(0.6)
		+box-sizing(content-box)
		display: block
		width: 24px
		height: 24px
		background: $color-base
		color: #ffffff
		border: 3px solid lighten($color-base, 15%)
		font-size: 20px
		font-weight: bold
		line-height: 22px
		text-align: center
		position: absolute
		top: -12px
		right: -12px

		&:hover
			+opacity(1)

	iframe
		width: 100%
		height: 100%

//#ytplayer-wrapper
//	position: absolute
//	top: 0
//	right: 0
//	-webkit-transition: all, 1s
//	-moz-transition: all, 1s
//	-ms-transition: all, 1s
//	-o-transition: all, 1s
//	transition: all, 1s
//
//	iframe
//		width: 100%
//		height: 100%
//
//	.playing + &
//		-webkit-transform: scale(2.5)
//		-moz-transform: scale(2.5)
//		-ms-transform: scale(2.5)
//		-o-transform: scale(2.5)
//		transform: scale(2.5)
//		z-index: 10
