.textpage-content
	font-size: 14px
	color: #4C4C4C

	.boxes
		height: 440px
	.no-padding
		padding: 0
		border: 0
	.title
		position: absolute
		right: 0
		bottom: 0
		left: 0
		color: #4C4C4C
		background: url(../images/green-semitransparent.png)
		//background: rgba(218, 233, 222, .5)
		z-index: 10
		padding: 10px 40px
		border-top: 1px solid #a3c6e7
		border-bottom: 1px solid #a3c6e7

		h1
			font-size: 40px
			line-height: 1.3em
			margin-bottom: 0
			position: relative

			a
				@extend .button-orange
				position: absolute
				top: 50%
				right: 0
				margin-top: -29px

	.bubble
		position: absolute
		display: inline-block

		img
			display: block
			margin: 0

	.from-editor
		padding: 40px
.textpage-perex
	font-size: 18px
	padding-bottom: 25px
	background: url(../images/section-divider-blue.png) no-repeat 50% 100%
	margin-bottom: 15px
	color: #97bee5

	p
		margin-bottom: .7em

