// @font-face
// 	font-family: '_helvetica'
// 	src: url('../fonts/helvetica_neue_ce_55_roman.eot')
// 	src: url('../fonts/helvetica_neue_ce_55_roman.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_neue_ce_55_roman.woff') format('woff'), url('../fonts/helvetica_neue_ce_55_roman.ttf') format('truetype')
// 	font-weight: normal
// 	font-style: normal

// @font-face
// 	font-family: '_helvetica'
// 	src: url('../fonts/helvetica_neue_ce_56_italic.eot')
// 	src: url('../fonts/helvetica_neue_ce_56_italic.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_neue_ce_56_italic.woff') format('woff'), url('../fonts/helvetica_neue_ce_56_italic.ttf') format('truetype')
// 	font-weight: normal
// 	font-style: italic

// @font-face
// 	font-family: '_helvetica'
// 	src: url('../fonts/helvetica_neue_ce_75_bold.eot')
// 	src: url('../fonts/helvetica_neue_ce_75_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_neue_ce_75_bold.woff') format('woff'), url('../fonts/helvetica_neue_ce_75_bold.ttf') format('truetype')
// 	font-weight: bold
// 	font-style: normal

@font-face
	font-family: 'neutra'
	src: url('../fonts/ndt.eot')
	src: url('../fonts/ndt.eot?#iefix') format('embedded-opentype'), url('../fonts/ndt.woff') format('woff'), url('../fonts/ndt.ttf') format('truetype')
	font-weight: normal
	font-style: normal

h1,
h2,
h3,
h4,
h5
	font-weight: normal
	margin-top: 0

section.main
	h1,
	h2,
	h3,
	h4,
	h5
		margin-bottom: 20px

	h1
		+font-size(35, 1.3em)
	h2
		+font-size(30, 1.3em)
	h3
		+font-size(25, 1.3em)
	h4
		+font-size(20, 1.3em)

	.from-editor
		ul
			list-style-type: disc
			margin: 0 0 20px 20px
		li
			margin: 0 0 15px
			line-height: 1.4em
		p
			line-height: 1.4em


p
	margin-top: 0

a
	text-decoration: none

ul
	@extend %reset-list