.clearfix
	*zoom: 1
	&:after
		content: ''
		clear: both
		display: table
		height: 0
		visibility: hidden


%reset-list
	margin: 0
	padding: 0
	list-style-type: none

// New image replacement
// -------------------------
@mixin ir($width: 5px, $height: 5px, $display: block)
	border: 0
	font: 0/0 a
	text-shadow: none
	color: transparent !important
	display: $display
	width: $width
	height: $height


// Placeholder text
// -------------------------
@mixin placeholder($color: #ccc)
	:-moz-placeholder
		color: $color

	::-webkit-input-placeholder
		color: $color

// Font size
// -------------------------
// =font-size($value, $lineHeight, $from: $base-font-size)
// 	$h: ($value / $from) * 1em
// 	font-size: $h
// 	line-height: ($lineHeight / $from) / $h * 1em
@mixin font-size($font-size: 16, $line: 1)
	$rem: ($font-size / 10)
	font-size: $font-size * 1px
	font-size: $rem * 1rem
	line-height: $line


// Font family
// -------------------------
@mixin ff($family, $fallback: 'sans-serif')
	font-family: $family, $fallback