.villapark-content
	$villapark-page-spacer: 25px
	$villapark-column-spacer: 3px
	$villapark-column-width: ($body-width - (2 * $villapark-page-spacer) - (3 * $villapark-column-spacer)) / 4

	@extend .clearfix
	position: relative

	&:before
		content: ''
		display: block
		width: 235px
		height: 293px
		position: absolute
		bottom: -16px
		left: 10px
		background: url(../images/family-2.jpg) no-repeat 0 0

	.boxes
		@extend .clearfix
		border: 0
		padding: 23px

		&.no-padding
			padding: 0

		img
			position: relative

		img + img,
		a + img
			margin-top: $villapark-column-spacer

		.outer
			width: $villapark-column-width
			float: left

			img
				position: static
				float: left

		.outer + .outer
			margin-left: $villapark-column-spacer
		.double
			width: $villapark-column-width * 2 + $villapark-column-spacer + 1
	.video-container
		position: relative
		float: left
		width: $villapark-column-width
		padding-top: 195px
		margin-right: $villapark-column-spacer

		a
			padding: 0
		span
			margin: 60px auto 0


	.line
		@extend .clearfix
		background: $color-ultralight
		padding: 5px $villapark-page-spacer

		& > a
			+font-size(18, 35px)
			float: left
		h1
			+font-size(18, 35px)
			width: $villapark-column-width * 3 + $villapark-column-spacer * 2
			float: right
			margin-bottom: 0

	aside.left
		float: left
		width: $villapark-column-width
		margin-left: $villapark-page-spacer
		padding-top: 5px
		padding-bottom: 310px

	article.from-editor
		float: right
		width: 3*$villapark-column-width + 2 * $villapark-column-spacer
		margin-right: $villapark-page-spacer
		color: $color-base-gray
		padding-top: 10px


	.tab-villapark
		display: none

		&.active
			display: block

	.tabs
		li
			background: url(../images/menu-divider.png) no-repeat 50% 100%
			padding: 6px 20px 14px
		a
			color: $color-alt
			+font-size(16,20px)
			text-transform: none

		a:hover,
		.active a
			color: lighten($color-alt, 10%)
			font-weight: bold
